.header {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
  
.left-header {
    height: 50vh;
    width: 40vw;
    margin-left: 8vw;
    margin-top: 14vh;
}
  
.left-header-text {
    font-size: 3.5vw;
    font-weight: 800;
    font-family: sans-serif;
}
  
.left-header-text p {
    font-size: 3.5vw;
    font-weight: 800;
    font-family: sans-serif;
    color: rgb(96, 96, 218);
    line-height: 90px;
}
  
.left-header-running-text {
    display: inline-block;
    position: relative;
    font-family: sans-serif;
    margin-top: 20px; 
    font-size: 1.6rem; 
    line-height: 1.6rem; 
}
  
.dynamic-text {
    display: inline-block;
    position: relative;
    padding-right: 2px; 
    white-space: nowrap;
}
  
.left-header-running-text::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    background-color: black;
    animation: moveBorder 1s steps(1) infinite;
}
  
@keyframes moveBorder {
    0% {
      right: 0;
    }
    100% {
      right: calc(100% - 2px);
    }
}
  
.left-header-running-text .react-simple-typewriter-cursor {
    font-size: 2rem; 
    line-height: 2rem; 
}
  
.explore-button {
    margin-top: 40px; 
    padding: 10px 20px;
    font-size: 1.2vw;
    background-color: rgb(96, 96, 218);
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
  
.explore-button svg {
    margin-left: 10px; 
}
  
.right-header {
    background-color: black;
    height: 70vh;
    width: 30vw;
    margin-top: 14vh;
    margin-left: 10vw;
    border-top-left-radius: 12rem;
    border-top-right-radius: 12rem;
    overflow: hidden; 
    position: relative;
    z-index: -1;
}
  
.right-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 12rem;
    border-top-right-radius: 12rem;
}

/* Responsive Design */
@media (max-width: 980px) {
    .header {
        flex-direction: column;
    }

    .left-header {
        width: 80vw;
        margin-left: 0;
        margin-top: 5vh;
        margin-left:6vw;
    }

    .right-header {
        width: 80vw;
        height: 50vh; 
        margin-top: -100px;
        margin-left: 20vw;
        height: 70vh;
        width: 50vw;
        border-top-left-radius: 12rem;
        border-top-right-radius: 12rem;
    }

    .left-header-text {
        font-size: 4vw;
    }

    .left-header-text p {
        font-size: 4vw;
        line-height: 70px;
    }

    .left-header-running-text {
        font-size: 1.8rem;
        line-height: 1.8rem;
    }

    .explore-button {
        margin-top: 30px;
        height: 50px;
        font-size: 1.5vw;
        padding: 12px 24px;
        border-radius: 5px;
    }
}

@media (max-width: 768px) {
    .left-header {
        width: 90vw;
        margin-top: 4vh;
    }

    .right-header {
        width: 60vw;
        height: 70vh; 
        margin-top: -10vh; 
        border-top-left-radius: 12rem;
        border-top-right-radius: 12rem;
    }

    .left-header-text {
        font-size: 5vw;
        line-height: 90px;
    }

    .left-header-text p {
        font-size: 5vw;
        line-height: 60px;
    }

    .left-header-running-text {
        font-size: 2rem;
        line-height: 2rem;
    }

    .explore-button {
        margin-top: 20px;
        font-size: 2vw;
        padding: 14px 28px;
        border-radius: 5px;
    }
}

@media (max-width: 480px) {
    .left-header-text {
        font-size: 8vw;
    }

    .left-header-text p {
        font-size: 8vw;
        /* line-height: -50px; */
    }

    .left-header-running-text {
        font-size: 2.2rem;
        line-height: 2.2rem;
    }
    .left-header-running-text span{
        font-size: 1.2rem;
    }
    .left-header-running-text .react-simple-typewriter-cursor {
        font-size: 1rem; 
        line-height: 1rem; 
    }
    .right-header{
        height: 50vh;
        width: 60vw;
        margin-top: -2vh;
    }

    .explore-button {
        font-size: 3.5vw;
        padding: 16px 32px;
    }
}
